.inbox {
  display: flex;
  height: 84vh;
}

.sidebar {
  flex: 0 0 400px; /* Ancho fijo de la barra lateral /
  }
  
  .chat-container {
    flex: 1 1 auto;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .scroll-container {
    max-height: 300px; / Altura máxima del contenedor con scroll /
    overflow-y: auto; / Activar el scroll vertical */
}

.header-chat {
  flex: 0 0 auto;
}

.chat-window {
  flex: 1 1 auto;
  overflow-y: auto;
}

.message-input {
  flex: 0 0 auto;
}
mat-card-content {
  background: #121b22;
}
