.search-dialog {
  width: 600px;
  height: 650px;
  overflow-y: auto;
  background-color: black;
  padding: 20px;
  box-shadow: none;
}

.mat-card-content {
  background-color: transparent;
  border: 1px solid black;
}

.close-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
  cursor: pointer;
  color: white;
}

.search-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #e1e8ed;
}

.search-icon {
  margin-right: 10px;
  font-size: 18px;
  color: white;
}

.search-input {
  flex: 1;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #e1e8ed;
  padding: 10px;
  font-size: 16px;
  outline: none;
  color: white;
}

.user-list {
  list-style: none;
  padding: 0;
  margin: 0;
  color: white;
}

.user-list .mat-list-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #e1e8ed;
  color: white;
}

.user-avatar {
  width: 48px;
  height: 48px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin-right: 10px;
}

.user-details {
  flex: 1;
}

.user-name {
  font-weight: bold;
  color: white;
}

.user-email {
  color: #657786;
}

.title {
  color: white;
  font-size: 24px;
  text-align: center;
  margin: auto;
}

.close-icon {
  cursor: pointer;
}
