<mat-card class="search-dialog">
    <mat-card-header>
        <div class="close-icon" (click)="closeDialog()">&times;</div>
        <mat-card-title class="title">Nuevo mensaje</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="search-container">
            <mat-icon class="search-icon">search</mat-icon>
            <input type="text" [formControl]="searchControl" class="search-input" placeholder="Buscar usuarios...">
        </div>
        <mat-list class="user-list">
            <mat-list-item *ngFor="let user of users" (click)="selectUser(user)">
                <div class="user-avatar"
                    [style.background-image]="'url(data:image/jpeg;base64,' + user.profileImage + ')'"></div>
                <div class="user-details">
                    <div class="user-name">{{ user.name }} {{ user.lastName }}</div>
                    <div class="user-email">{{ user.email }}</div>
                </div>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>